/* global settings */
@font-face {
  font-family: proximanova;
  src: local(Proxima Nova), url('/assets/fonts/proxima.nova.otf') format("opentype");
  font-weight: bold;
}

* {
  font-family: proximanova;
}

a.pure-menu-link {
  color: #017179;
}

.custom-wrapper {
  /* TODO - teal lower border */
  background-color: #FFFFFF;
  top: 0;
  position: sticky;
  margin-bottom: 1em;
  -webkit-font-smoothing: antialiased;
  height: 2.1em;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  transition: height 0.5s;
}

.custom-wrapper.open {
    height: 14em;
}

.custom-toggle {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

.custom-toggle .bar {
    background-color: #777;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    top: 18px;
    right: 7px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}

.custom-toggle .bar:first-child {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
}

.custom-toggle.x .bar {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom-toggle.x .bar:first-child {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@media (max-width: 47.999em) {
    .custom-toggle {
        display: block;
    }
}


img.hero-banner {
  width: 100%;
}

.content {
    /* TODO - figure out sizing on mobile */
    font-size: 20px;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}


@media (min-width: 48em) {
    .content {
        padding-left: 0em;
        padding-right: 0em;
    }

    #layout {
        left: 0;
    }
}

/* FOOTER */

.footer {
  text-align: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  bottom: 0;
}


.fa {
  padding: 10px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;

  color: white;
  background: #017179;
}


.about-bio .title {
  color: grey;
}
